body{
    background-color: black;
    color: white;
}

.titul{
    border-width: 2px;
    border-style: solid;
    font-size:30px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF4D00;
}

.volte{
    border-width: 0px;
    border-style: solid;
    color: white;
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

   
.field{
    border-style: solid;
    border-color: white;
    background-color: #ff4d00a6;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.field ul{
    position: relative;
    right: 3%;
}

.field ul li{
    list-style: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    transition: 1s all;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 1.5em;
}

.field ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s all;
}
.field ul li a:hover{
    color: rgb(0, 0, 0);
}
.add{
    position: fixed;
    left: 90%;
    top: 90%;
}
.add button{
    background-color: rgb(251, 255, 0);
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    color: #ff4800;
    font-size: 1.4em;
}